<?xml version='1.0' encoding='utf-8'?>
<plugin 
id="com.rjfun.cordova.httpd" 
version="0.0.1" 
xmlns="http://apache.org/cordova/ns/plugins/1.0" 
xmlns:android="http://schemas.android.com/apk/res/android">

<name>CorHttpd</name>

<js-module name="CorHttpd" src="www/CorHttpd.js">
<clobbers target="cordova.plugins.CorHttpd" />
</js-module>

<platform name="android">

<config-file parent="/*" target="res/xml/config.xml">
<feature name="CorHttpd">
<param name="android-package" value="com.rjfun.cordova.httpd.CorHttpd" />
</feature>
</config-file>

<config-file parent="/*" target="AndroidManifest.xml" />

<source-file src="src/android/CorHttpd.java" target-dir="src/com/rjfun/cordova/httpd" />
</platform>

<platform name="ios">

<config-file parent="/*" target="config.xml">
<feature name="CorHttpd">
<param name="ios-package" value="CorHttpd" />
</feature>
</config-file>

<source-file src="src/ios/CDVCorHttpd.m" />
</platform>

</plugin>